
/*toda la pagina*/
* {
    margin: 0;
    padding: 0;

}

/*logo de la pagina*/
span.container{
   
    font-size: 50px;
    background-color:#ff0000;
    color: white;
   font-family: 'Akronim',
   cursive;
 
}

body{
    background-image: url(../imagenes/Boom.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}



/*menu principal*/
header {
    width: 100%;
    text-align: center;
}

nav {
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
}

nav ul {
    list-style: none;
}

nav > ul {
    display: table;
    overflow: hidden;
    width: 100%;
    background: black;
    position: relative;
}

nav > ul li {
    display: table-cell;
    
}

nav > ul >li >ul {
    display: none;
}

nav > ul li a {
    color: #fff;
    display:block;
    line-height:20px;
    padding:20px;
    position:relative;
    text-align:center;
    text-decoration:none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
     transition: all .3s ease;
}


/*iconos desplegables*/
nav > ul > li > a span {
  
    color:black;
    background:white;
    display: block;
    height:100%;
    width:100%;
    left:0;
    position:absolute;
    top:-55px;
    }

nav > ul > li > a span .fa {

    display: block;
    line-height:60px;

}

nav > ul > li> a:hover > span {
    top:0;

}

/*aun no he terminado el menu*/

/*formulario de registrarse*/


/*titulo del formulario*/
.contenedor .form .form-header .form-title {
    font-weight: normal;
    font-family: sans-serif;
    color: white;
    text-align: center;
    padding: 14px 0;
}

/*cuadro del formulario*/
.contenedor .form {
    background: rgba(3, 0, 0, 0.637);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

/*letras del formulario*/
.contenedor .form .form-label{
    display: block;
    color:white;
    font-size: 20px;
    font-family: Roboto;
    position: relative;
    

}
/*estilo de la parte donde se escribe en el formulario*/
.contenedor .form .form-input {
    background:white;
    border: none;
    outline: none;
    border-bottom: 2px solid red;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color:black;
    font-family: roboto;
}

.contenedor .form{
    resize: vertical;
    max-height: 700px;
    min-height: 50px;
}
 /*boton de registrar*/
.contenedor .form .btn-sumit {
    width: 100%;
    font-family: roboto;
    outline:none;
    background:rgba(255, 0, 0, 0.932);
    font-size: 25px;
    border: none;
    padding: 15px;
    cursor: pointer;
    transition: all .5s ease ;

}
/*cambiar de color el boton al poner el cursol ensima*/
.contenedor .form .btn-sumit:hover{
    background:rgba(243, 71, 71, 0.514);

}

.btn-sumit {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   
}




















/*seccion de memes en index*/

section.hola{
   width: 50%;
   text-align: center;
    background: rgba(3, 0, 0, 0.637);
  
   

}



/*categorias*/

.ot {
    width: 50%;
    color: white;
    background: rgba(3, 0, 0, 0.637);
    list-style: none;
}

.nj:hover{
    color: white;
    background-color: red;
}

/*lista de los mejores 10 memes*/
ol{
    color: white;
}

ol>li>h1{
    background-color: red;
    font-family: 'Akronim',
    cursive;
}


ul#nel a {
    color: white;
}

ul#nel a:hover {
    text-decoration: none;
}









































